.login{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

.mainImage{
  margin-top: 98px;
  height: calc(100vh - 85px - 98px);
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form label{
  display: flex;
  flex-direction: column;
  width: 384px;
  padding-top: 16px;
}

.form label input{
  margin-top: 8px;
}

.form h2{
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  padding-bottom: 30px;
}

.signUpBttn{
  font-size: 16px;
  line-height: 24px;
  border: none;
  text-decoration: underline;
  text-transform: none;
}

.signUpBttn:before{
  transform: none;
  background-image: none;
}

.signInBttn{
  width: 129px;
  margin: 64px 0;
}

.createAccBttn{
  margin: 32px 0;
}

.spinner{
  margin-top: 32px;
}

@media (max-width: 576px){
  .mainImage{
    display: none;
  }

  .login{
    justify-content: center;
  }

  .form label{
    width: 356px;
  }
}